body{
    font-family: Arial, Helvetica, sans-serif;
}
/*Layout*/
.container{
    width: 70%;
    margin: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}
/*Fine Layout*/
/*Generals*/
ul{
    list-style-type: none;
}
img{
    height: 100%;
}
/*Fine Generals*/
/*Utilities*/
.h100{
    height: 100%;
}
.w100{
    width: 100%;
}
/*Fine Utilities*/