/*Layout*/
.container{
    width: 70%;
    margin: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}
/*Fine Layout*/
/*Utilities*/
.h100{
    height: 100%;
}
/*Fine Utilities*/